.descr {
  font-size: 18px;
  margin-bottom: 8px;
}

.item {
  font-size: 18px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.number {
  padding: 0 8px;

  border: 1px solid green;
  border-radius: 8px;
}
